
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Films</title>
</head>
<body>
    <table class="table-list-rate">
        <caption>Посмотрел</caption>
        <thead>
            <tr><th>Название</th><th>Жанр</th><th>Автор</th><th>Год создания</th><th>Оценка</th></tr>
        </thead>
        <tbody>
            @foreach (var i in (List<Content>)ViewBag.listRate)
            {
                <tr><th>@i.Name</th><th>@i.Genre</th><th>@i.Autor</th><th>@i.CreationYear</th><th>@i.Rating</th></tr>
            }
        </tbody>
    </table>
    <br>
    <table class="table-list-remember">
        <caption>Посмотрю позже</caption>
        <thead>
            <tr><th>Название</th><th>Жанр</th><th>Автор</th><th>Год создания</th></tr>
        </thead>
        <tbody>
            @foreach (var i in (List<Remember>)ViewBag.listRemember)
            {
                <tr><th>@i.Name</th><th>@i.Genre</th><th>@i.Autor</th><th>@i.CreationYear</th></tr>
            }
        </tbody>
    </table>
</body>
</html>
