<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Books</title>
</head>
<body>
    <input type="button" class="delete-button">
    <table class="table-list-rate">
        <caption>Прочитал</caption>
        <thead>
            <tr><th>Id</th><th>Название</th><th>Жанр</th><th>Автор</th><th>Год создания</th><th>Оценка</th></tr>
        </thead>
        <tbody>
            @foreach (var i in (List<Content>)ViewBag.listRate)
            {
                <tr><td>@i.Id</td><td>@i.Name</td><td>@i.Genre</td><td>@i.Autor</td><td>@i.CreationYear</td><td>@i.Rating @if (i.Replay == true) {<img src="~/images/fav.png" class="ico">}</td></tr>
            }
        </tbody>
    </table>

    <br>
    <table class="table-list-remember">
        <caption>Прочитаю позже</caption>
        <thead>
            <tr><th>Id</th><th>Название</th><th>Жанр</th><th>Автор</th><th>Год создания</th></tr>
        </thead>
        <tbody>
            @foreach (var i in (List<Remember>)ViewBag.listRemember)
            {
                <tr><td>@i.Id</td><td>@i.Name</td><td>@i.Genre</td><td>@i.Autor</td><td>@i.CreationYear</td></tr>
            }
        </tbody>
    </table>
</body>
</html>